// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('ttf');
	}
}


@include font('Latt', normal, 400, '../fonts/Lato-Regular.ttf');
@include font('Lato', italic, 400, '../fonts/Lato-RegularItalic.ttf');
@include font('Lato', normal, 700, '../fonts/Lato-Bold.ttf');
@include font('Lato', normal, 300, '../fonts/Lato-Thin.ttf');
