@import "vars";
@import "fonts";
body{
	font-size: 16px;
	line-height: 1.65;
	font-family: 'Lato', sans-serif;
}
header {
	height: 100vh;
}
.header-menu {
	display: flex;
	justify-content: space-between;
	padding:26px 58px 26px 30px;
	align-items: center;
	&-logo {
		img {width: 100%;}
	}
	&-nav nav{
		ul {
			display: flex;
			li {
				padding: 0;
				margin: 5px;
				list-style: none;
				a {
					text-decoration: none;
					display: block;
					padding: 12px 10px;
					color: $text;
					transition: all .5S;
					&:hover {
						color: #fff;
						background-color: $green;
					}
				}				
			}	

		}

	}
}
.header-main {
	height: calc(100% - 144px);
	background: #000 url(../img/bg.png) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #fff;
	align-items: center;

	h1 {
		font-weight: 300;
		font-size: 55px;
		.brand {
			font-weight: 700;
		}
	}
	p {
		font-size: 18px;
	}
	&_button {
		a {
			padding: 14px;
			display: block;
			background-color: $green;
			text-decoration: none;
			color: #fff;
			letter-spacing: 1.3px;
			font-size: 13px;
			font-weight: 700;
		}
	}
	&_arrow {
		.fa-arrow-circle-down {
			color: #fff;
			font-size: 50px;
		}
	}
}

.portfolio {
	color: #fff;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	.portfolio-text {
		color: $text;
		text-align: center;
		h1 {
			font-size: 28px;
		}
	}
	.portfolio-subtext {
		display: flex;
		&-items {
			padding: 14px;
			background-color: $green;
			&:not(:last-child) {
				margin-right: 15px;
			} 
		}

	}
	.portfolio-items {
		&-element {
			
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	padding-left: 45px;
	padding-right: 45px;
	height: 90px;
	align-items: center;
	background-color: #2d3e50;
	.footer-content {
		color: #fff;
	}
}

 /* in the end*/
 @import "media";